.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #1C1C21;;
    box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, 0.15);
    width: 718px;
    /* min-height: 330px; */
    min-height: 720px;
    align-self: center;
    margin: 0 auto;
    border-radius: 3%;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
}