.main {

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;

}
.header{
    max-width: 1280px;
    margin: 0 auto;
}

.ProcessOrders{
    display: block;
    margin-left: 60px;
}

.OrdersList{
    
    list-style: none;
    padding: 0;
    width: 180px;
    max-height: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:0;
}
    


.FeedOrders{
    display: block;
    max-height: 686px;
   overflow: scroll;
}
.DoneList{
    list-style-type: none;
    display: flex;

    
}
.ProcessList{
    list-style-type: none;
    display: flex;
    color: white;

    
}


.OrdersContainer{
  display: flex;
}