.main{
   margin: 0 auto;
    width: 1230px;
    display: flex;
    margin-top: 120px;
}

.inputs{
    margin-left: 60px;
}
.text{
    width: 320px;
    height: 64px;
    align-items: center;
    display: flex;
   
   
    
}
.linkActive{
    color: white;
    text-decoration: none;
}
.linkInactive{
    
    color: #8585AD;
    text-decoration: none;
}

.explanation{
    width: 320px;
}
.hiddenBlock{
    display: flex;
    margin-top: 40px;
    align-items: center;
   justify-content: end;
}
.span{
    color:#4C4CFF;
    
}
.loader{
    text-align: center;
}