.text{
    color:aliceblue
}

.section{
    max-width: 500px;
   align-self: center;
   text-align: center;
   margin: 0 auto;
}

.ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.list{
    text-align: center;
}
.single{
    max-width: 500px;
   align-self: center;
   text-align: center;
   margin: 120px auto 0;
}
.loader{
    text-align: center;
}