.section {
    max-width: 600px;
    
}





.price {
    display: flex;
    justify-content: center;
}


.container{
    max-height: 686px;
    overflow: scroll;
}
.ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}