.header {
    display: flex;
    background-color: #1c1c21;
    font-family: 'JetBrains Mono' Arial, sans-serif;
   
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;

}
.background{
    background-color: #1c1c21;
    max-width: 1920px;
}
.logo {
    margin-left: 115px;
   
}

.firstBlock {
    display: flex;
}



.listActive {
    
    display: flex;
    text-decoration: none;
    color: white;
    

}

.listInactive {
    
    display: flex;
    text-decoration: none;
    color: #8585AD;
    

}


.listActive:nth-child(3) {
    margin-left: auto;
}

.listInactive:nth-child(3) {
    margin-left: auto;
}